/* reset CSS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  line-height: 1;
  max-width: 1440px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body p {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

:root {
  /* color palette */
  --white: #fff;
  --lightGray: #ececec;
  --darkGray: #4c4c4c;
  --lightGreen: #97bd7f;
  --mediumGreen: #979e48;
  --darkGreen: #386229;
  --mediumOrange: #af871f;
  --darkOrange: #a6681c;
  
  font-size: 16px;
}

#root {
  width: 100vw;
  height: 100vh;
}
