.form-container {
max-height: 50rem;
max-width: 25rem;
text-align: center;
margin: auto;
}

.login-button {
  height: 2rem;
  margin: 0.25rem;
  padding: 0.25rem;
  width: 10rem;
}

.logo {
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1rem;
}

.button-container {
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
}
